@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  color: #101010;
  background: radial-gradient(circle at 20% 0%, #f5ffe8, #fefaf0 60%);
}

body {
  margin: 0;
  font-family: "Space Grotesk", "Segoe UI", sans-serif;
}
